In [25]:
# Loan prediction 
# Logistic regression

In [26]:
import pandas as pd

In [27]:
LoanData = pd.read_csv('loan.csv')
Loanprep = LoanData.copy()
Loanprep.head()

  gender married   ch  income  loanamt status
0   Male      No  1.0    5849      NaN      Y
1   Male     Yes  1.0    4583    128.0      N
2   Male     Yes  1.0    3000     66.0      Y
3   Male     Yes  1.0    2583    120.0      Y
4   Male      No  1.0    6000    141.0      Y

In [28]:
# Identify the missing value
Loanprep.isnull().sum(axis = 0)

gender     13
married     3
ch         50
income      0
loanamt    22
status      0
dtype: int64

In [29]:
# Drop rows with missing values
Loanprep = Loanprep.dropna()

In [30]:
Loanprep.describe()

               ch        income     loanamt
count  529.000000    529.000000  529.000000
mean     0.844991   5350.943289  143.504726
std      0.362256   6001.808110   79.893848
min      0.000000    150.000000    9.000000
25%      1.000000   2895.000000  100.000000
50%      1.000000   3813.000000  126.000000
75%      1.000000   5726.000000  165.000000
max      1.000000  81000.000000  600.000000

In [31]:
Loanprep[ 'ch'].dtype

dtype('float64')

In [32]:
# Create the dummy variable for categorical variables
Loanprep = Loanprep.drop(['gender'], axis = 1)
Loanprep = pd.get_dummies(Loanprep, drop_first = True)
Loanprep.head()

    ch  income  loanamt  married_Yes  status_Y
1  1.0    4583    128.0            1         0
2  1.0    3000     66.0            1         1
3  1.0    2583    120.0            1         1
4  1.0    6000    141.0            0         1
5  1.0    5417    267.0            1         1

In [36]:
# Normalise the data (income and loanamt) using standardscaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Loanprep['incomem'] = scaler.fit_transform(Loanprep[['income']])
Loanprep['loanamt'] = scaler.fit_transform(Loanprep[['loanamt']])
Loanprep.head()

C:\Users\atefeh\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\atefeh\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

    ch  income   loanamt  married_Yes  status_Y   incomem
1  1.0    4583 -0.194250            1         0 -0.128073
2  1.0    3000 -0.971015            1         1 -0.392077
3  1.0    2583 -0.294478            1         1 -0.461621
4  1.0    6000 -0.031380            0         1  0.108246
5  1.0    5417  1.547205            1         1  0.011017

In [46]:
# Create X, Y
Y = Loanprep['status_Y']
X = Loanprep.drop(['status_Y'], axis = 1)

# Split the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state= 1234, stratify = Y)

In [47]:
# Create the Logistic regression
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X_train, Y_train)
Y_predict = LR.predict(X_test)

C:\Users\atefeh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [48]:
# Build the confusion matrix
from sklearn.metrics import confusion_matrix
CM = confusion_matrix(Y_test, Y_predict)
print(CM)

[[ 29  20]
 [  2 108]]

In [49]:
LR.score(X_test, Y_test)

0.8616352201257862